---
// Import fonts
import "@fontsource/poppins/700.css";
import "@fontsource/mulish/600.css";
---

<section class="about" id="about">
  <div class="container">
    <div class="about-content">
      <div class="img-side">
        <img
          src="../../images/working-emoji.png"
          alt="
          emoji"
          class="work-emoji"
        />
        <img
          src="../../images/bw-about-img-min.jpg"
          alt="me"
          class="img-side__main-img"
        />
        <span>
          <img src="../../images/text.svg" alt="text" />
        </span>
      </div>
      <div class="text-side">
        <h4>SOBRE MÍ</h4>
        <h3>
          Un desarrollador con sede en Liberia, Costa Rica &#128205; &#127796;
          &#129445;
        </h3>
        <p>
          Poseo habilidades técnicas en HTML, CSS, JavaScript, Tailwind. Me
          especializo en el diseño y mantenimiento de sitios web y mi
          experiencia está en crear interfaces atractivas con código limpio y
          optimizado.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .about {
    background-color: var(--background-color);
    padding: 15rem 0;
  }
  @media (max-width: 1020px) {
    .about {
      padding: 8rem 0;
    }
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1020px) {
    .about-content {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  .text-side {
    padding-right: 1.5rem;
  }
  @media (max-width: 1020px) {
    .text-side {
      max-width: 54rem;
      margin: 0 auto;
    }
  }
  @media (max-width: 400px) {
    .text-side {
      padding-right: 0;
    }
  }
  .text-side span {
    text-decoration: underline var(--header-color);
  }
  .text-side h4 {
    font-size: var(--text-size);
    color: var(--header-color);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .text-side h3 {
    font-size: var(-- headings-size);
    font-family: var(--title-font);
    line-height: 1.4;
    margin-bottom: 2rem;
    color: var(--black-shade);
  }
  .text-side p {
    font-size: var(--text-size);
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.5;
  }

  .img-side {
    position: relative;
  }
  .img-side span {
    width: 19rem;
    height: 19rem;
    position: absolute;
    background-color: white;
    bottom: -33px;
    right: 33px;
    border-radius: 50%;
  }
  @media (max-width: 1020px) {
    .img-side span {
      width: 17rem;
      height: 17rem;
      bottom: -3px;
      right: 190px;
    }
  }
  @media (max-width: 880px) {
    .img-side span {
      bottom: -3px;
      right: 100px;
    }
  }
  @media (max-width: 750px) {
    .img-side span {
      display: none;
    }
  }
  .img-side span img {
    width: 19rem;
    animation: rotate 9s linear infinite;
  }
  @media (max-width: 1020px) {
    .img-side span img {
      width: 17rem;
    }
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  .img-side__main-img {
    width: 41rem;
    height: 35rem;
    border-radius: 1.7rem;
  }

  @media (max-width: 1020px) {
    .img-side__main-img {
      margin-bottom: 3.5rem;
    }
  }

  @media (max-width: 460px) {
    .img-side__main-img {
      width: 90%;
      height: auto;
    }
  }

  .work-emoji {
    position: absolute;
    z-index: 10;
    width: 6rem !important;
    bottom: 35px;
    right: 98px;
  }
  @media (max-width: 1020px) {
    .work-emoji {
      bottom: 25px;
      right: 245px;
    }
  }
  @media (max-width: 880px) {
    .work-emoji {
      bottom: 57px;
      right: 156px;
    }
  }
  @media (max-width: 750px) {
    .work-emoji {
      display: none;
    }
  }
</style>
