---
import "../styles/global.css";

import "@fontsource/poppins";
import "@fontsource/mulish";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title = "Junii.dev", description = "Mi portafolio personal" } =
  Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" property="og:description" content={description} />
<meta
  name="keywords"
  content="programacion, desarrollo, javascript, html, css, astro, portfolio"
/>
<meta name="author" content="Henry Matarrita Salazar" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="og:locale" content="es_ES" />

<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.png" />
